/* 
    Homepage 
*/

html, body {
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

 /* Team Members */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.course-title h1 {
    font-size: 3;
    margin: 0;
    font-weight: bold;
}
.course-title h2 {
    font-size: 2;
    margin: 0;
    font-weight: bold;
}

 /* Homework */
.team-box {
    background-color: #f0f0f0;
    padding: 20px;
    width: 300px;
    border-radius: 4px;
}
.team-box h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5em;
}
.team-box p {
    font-style: italic;
    font-size: 0.9em;
}
.team-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

h3.section-title {
    font-size: 1.8em;
    margin-bottom: 5px;
    font-weight: bold;
}

.gray-bar {
    background-color: #f0f0f0;
    padding: 15px 20px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.gray-bar ul {
    margin: 0;
    padding-left: 20px;
}

.gray-bar a {
    color: #0000EE;
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: auto;
    font-size: 1.1em;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px;
    padding: 20px 40px;
}

/* 
    Carlos Lugo 
*/

/* Background for personal page */
.personal-page {
    background-color: #f9f9f9;
}

/* Back Link styling */
nav a {
    text-decoration: none;
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
}
nav a:hover {
    color: #000;
    text-decoration: underline;
}

/* Profile Container */
.profile-container {
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

/* Header tweaks */
.profile-container header {
    border-bottom: 2px solid #0077cc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.profile-container h2 {
    font-size: 1.2em;
    color: #666;
    font-weight: normal;
}

/* Bio */
.bio-section{
    margin-bottom: 30px;
}

.details-section ul {
    list-style-type: square;
    padding-left: 20px;
    color: #444;
}