name: Deploy to DigitalOcean
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # Fix for "dubious ownership" error
          git config --global --add safe.directory /var/www/carloslugo.dev/html
          
          cd /var/www/carloslugo.dev/html
          git pull origin main
          
          # Maintain correct permissions for the web server
          sudo chown -R www-data:www-data /var/www/carloslugo.dev/html